
.div{
    border: 5px solid #fff ;
    border-radius: 20px;
    background-color: transparent;
    margin: 50px;
    height: 300px;
    box-shadow: 10px 10px 20px #fff;

}
body{
    background-color: aqua;

}
#login{
    text-align: center;
}
#element{
    text-align: center;
}
#inone{
    height: 20px;
    width: 300px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 4px 5px 20px red;

}
#checkbox{
    text-align: left;
    margin: 20px;
}